<!DOCTYPE html>
    <head>

    </head>
    <body>
        <h3><b>Autor: </b> Oscar </h3>
        <p><b>Contenido: </b> Hola a todos esto es una publicación<br/>
        Y yo estoy feliz de participar</p>

        <h3><b>Autor: </b> Jhonatan </h3>
        <p><b>Contenido: </b> Wenas a todos guapisimos<br/>
        Yo soy el Jhonatan 777</p>

        <h3><b>Autor: </b> Jose </h3>
        <p><b>Contenido: </b> Como estamos, todo bien todo correcto<br/>
        Y al Auron que lo funaron.</p>
    </body>
</html>